<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script type="text/javascript" src="../js/vue.js"></script>

<body>
    <div id="app">
        <input type="checkbox" v-model="happy" name="happy" value="1">唱歌
        <input type="checkbox" v-model="happy" name="happy" value="2">跳舞
        <input type="checkbox" v-model="happy" name="happy" value="3">打篮球
        <input type="checkbox" v-model="happy" name="happy" value="4">rap
    </div>
</body>
<script>
    new Vue({

        el: "#app",
        data: {
            happy: 1
        },
        methods: {

        },
        mounteds: {

        },




    })
</script>

</html>