<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
    <div id="root">
        <input type="text" v-model="n">
        <one></one>
    </div>
</body>
<script>
    // 组件当中的数据，与其外部的实例是不共享的。
    new Vue({
        el: "#root",
        components: {
            one: {
                template: `
                    <div>你过来看看我,<input type="text" v-model="n"></div>
                `
            }
        },
        data: {
            n: 1
        },
        methods: {},
        filters: {},
        computed: {},
        mounted() {}
    })
</script>

</html>